<p id="notice"><%= notice %></p>
<%= link_to 'Create  New  book', new_book_path ,class:'btn btn-outline-success'%>

<h1 style="text-align:center">All Books</h1>
<br>

<div class="container">
  <div class="row">
    <div class="card-group">
    <% @books.each do |book| %>
      <div class="">
        <div class="card ml-2 h-100" >
          <%= image_tag book.image.url %>
          <div class="card-body">
            <h5 class="card-title">
            <%= book.book_title %>
            </h5>
            <p class="card-text"><%= book.author %></p>
            <p class="card-text"><%= book.description %></p>
            <p class="card-text"><%= book.status %></p>
            <p class="card-text"><small class="text-muted"><%= book.created_at %></small></p>
            <%= link_to 'Show', book, class:"btn btn-info" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%= paginate @books %>
</div>


