<p id="notice"><%= notice %></p>
<div class="container">
  <div class="card" style="background-color:#fab696;">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag @book.image.url, class:"upload" %>
        </div>
        <div class="col-md-8">
          <p class="card-text">
            <strong>Book title:</strong>
            <%= @book.book_title %>
          </p>
          <p class="card-text">
            <strong>Book Author:</strong>
            <%= @book.author %>
          </p>
          <p class="card-text">
          <strong>Book Description:</strong>
            <%= @book.description %>
          </p>
          <p class="card-text">
          <strong>Book Status:</strong>
            <%= @book.status %>
          </p>
         
          <p class="card-text">
            <strong>User:</strong>
            <%= @book.user.name %>
          </p>
          <%= render 'comments/comment' %><br><br>
        </div>
      </div>
    </div>
  </div>
  <%= button_to 'Order Now', books_path, class:'btn btn-primary' %> &nbsp;&nbsp;&nbsp;<br><br>
  <%= link_to 'Back', books_path, class:'btn btn-secondary' %>
</div>